html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-height: 100vh;
}

body {
    text-align: center;
}

img {
    -ms-interpolation-mode: bicubic;
}

h4 {
    padding: 20px;
}
#scratch {
    position: relative;
    display: inline-block;
    font-size: 0;
}

    #scratch img {
        width: 100%;
        max-width: 916px;
        height: auto;
    }

    #scratch canvas {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border: 5px dotted black;
        cursor: pointer;
        will-change: transform;
        transform: translate3d(0,0,0);
        -ms-touch-action: none;
        -webkit-touch-action: none;
        -moz-touch-action: none;
        touch-action: none;
        transition: opacity 500ms ease-out 0ms, height 0ms linear 500ms;
    }

    #scratch.revealed canvas {
        opacity: 0;
        height: 0;
    }
